<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<br>

<%= link_to 'Show', @blog, class:"btn btn-secondary btn-sm" %> 

<%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>

<%= link_to 'Back', blogs_path, class:"btn btn-secondary btn-sm" %>
